# API key
# Enter your API key for the env variable below. No other line needs to be changed
ELEVENLABS_API_KEY=<your-api-key-here>

# version config

ELEVENLABS_MODEL_ID=eleven_v3

# voice config

ELEVENLABS_VOICE_ID=tnSpp4vdxKPjI9w0GnoV
#Hope - upbeat and clear voice ID

VOICE_SETTING_STABILITY=0.3
VOICE_SETTING_SIMILARITY=0.75
VOICE_SETTING_STYLE_BOOST=0.0
VOICE_SETTING_SPEED=1.0

#output config

AUDIO_OUTPUT_FORMAT=mp3_44100_128

# How many files to generate when create_tts.py is run
GENERATION_COUNT=1.0